.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.add > p {
  font-weight: 600;
  font-size: 25px;
}
.add form {
  margin-top: 30px;
  gap: 20px;
}
.add-img-upload {
  width: 100px;
}
.add-img-upload img {
  width: 120px;
}
.add-img-upload p{
  width: 200px;
}
.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}
.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}
.add-category-price {
  display: flex;
  align-items: end;
  gap: 30px;
}
.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .add {
    margin: 10px 15px;
  }
  .add > p {
    font-size: 20px;
  }
  .add-img-upload img {
    width: 100px;
  }
  .add-product-name input,
  .add-product-description textarea {
    width: 250px;
  }
}
